h1 {background-color: grey;
  color: white; text-align: center;}
p {background-color: white;
text-align: center;
}
body {
    background-color: black;
}
hr {text-align: center;}
h1 {font-family: 'Comic Sans', sans-serif;
color: mediumseablue}
p {font-family: 'Comic Sans', sans-serif;}
@font-face {
  font-family: Comic Sans ;
  src:url(COMIC.TTF);
}
a:link{color:red; text-decoration: none}
a:visited{color:orange; text-decoration: none}
a:hover{color:mediumseagreen; text-decoration: none}

